<launch>

    <!-- get parameters for test -->
    <arg name="images_file" default="image.npz"/>
    <arg name="object_height" default="0.245"/>

    <!-- run tests -->
    <test test-name="test_depth" pkg="shutter_lookat_public_tests" type="test_depth.py">
        <param name="images_file" value="$(arg images_file)"/>
        <param name="object_height" value="$(arg object_height)"/>
    </test>

</launch>
