<launch>

    <!-- make shutter look forward? -->
    <arg name="look_forward" value="True"/>
    <arg name="close_target" default="False"/>

    <!-- bring up the robot -->
    <include file="$(find shutter_bringup)/launch/shutter.launch">
        <arg name="simulation" value="true"/>
    </include>

    <!-- generate the simulated moving object -->
    <group if="$(arg close_target)">
        <node name="generate_target" pkg="shutter_lookat" type="generate_target.py" output="screen">
            <param name="x_value" value="0.3"/>
        </node>
    </group>
    <group unless="$(arg close_target)">
        <node name="generate_target" pkg="shutter_lookat" type="generate_target.py" output="screen"/>
    </group>

    <!-- visualize the moving object in rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find shutter_lookat)/config/rviz_target.cfg.rviz"/>

    <!-- look forward if desired -->
    <group if="$(arg look_forward)">
        <node name="look_forward" pkg="shutter_lookat" type="look_forward.py"/>
    </group>


</launch>